[package]
name = "engine"
version = "0.1.0"
edition = "2024"

[dependencies]
tch = { version = "0.23.0", features = ["download-libtorch"] }
serde_json = "1.0.149"
serde = { version = "1.0.228", features = ["derive"] }