body, html, #root {
    /* Define the looks and size */
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #2f2f2f;
    color: white;

    /* Global properties */
    font-family: "Jersey 25", "Bookman Old Style", "Lora", "Georgia", sans-serif;
}