.menu-div {
    /* Inherit the font */
    font-family: inherit;

    /* Expand to full size */
    width: 100%;
    height: 100%;

    /* Center */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}